@media (max-width: 992px) {
    .profileInfoBox {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .col-md-7,
    .col-md-5 {
        flex: 0 0 auto;
        width: 100%;
    }


    .mobile-margin {
        margin-top: 1rem;
    }

    .navbarMKZ {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
    }

    .mobileTopMargin {
        margin-top: 1rem;
    }

    .postInfo {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .postCard {
        flex-direction: column; 
    }

    .action-center {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: .4rem;
        margin-left: unset;
        font-size: 13px;
    }

    .action-center-item {
        padding: .2rem 0 0;
    }

    .like-dislike-icon {
        width: 20px;
    }
}